<div class="borrow-book-card">
  <nz-card nzHoverable>
    <img nz-card-cover [src]="borrowRecord().bookImage" [alt]="borrowRecord().bookTitle" />

    <nz-card-meta
      [nzTitle]="borrowRecord().bookTitle"
      [nzDescription]="borrowRecord().bookDescription"
    />

    <div class="borrow-info">
      <div class="status-section">
        @switch (borrowRecord().status) {
          @case ('BORROWED') {
            <nz-tag nzColor="blue">Borrowed</nz-tag>
          }
          @case ('OVERDUE') {
            <nz-tag nzColor="red">OverDue</nz-tag>
          }
          @case ('RETURNED') {
            <nz-tag nzColor="green">Returned</nz-tag>
          }
        }
      </div>

      <div class="date-info">
        <div class="date-item">
          <span class="label">Borrowed Date</span>
          <span class="date">
            {{ borrowRecord().borrowDate }}
          </span>
        </div>

        <div class="date-item">
          <span class="label">Due Date</span>
          <span class="date">
            {{ borrowRecord().dueDate }}
          </span>
        </div>

        <div class="date-item">
          <span class="label">Return Date</span>
          <span class="date">
            {{ borrowRecord().returnedDate }}
          </span>
        </div>
      </div>
    </div>

    <div class="button-group">
      <button nz-button nzType="primary" [routerLink]="['/read-online', borrowRecord().bookId]">
        Read Online
      </button>
      <button
        nz-button
        nzType="default"
        nzDanger
        [disabled]="borrowRecord().status === 'RETURNED'"
        (click)="onReturnBook(borrowRecord().id)"
      >
        Return Book
      </button>
    </div>
  </nz-card>
</div>
