<nz-modal
  [nzVisible]="visible()"
  [nzTitle]="book() ? 'Edit Book' : 'Create Book'"
  [nzFooter]="null"
  nzWidth="650"
  (nzOnCancel)="closeModal()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label nzRequired> Title </nz-form-label>
        <nz-form-control nzErrorTip="Title is required">
          <input type="text" nz-input formControlName="title" placeholder="Enter Book Title" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Author</nz-form-label>
        <nz-form-control nzErrorTip="Author is required">
          <input type="text" nz-input formControlName="author" placeholder="Enter Author Name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired> ImageUrl </nz-form-label>
        <nz-form-control nzErrorTip="ImageUrl is required">
          <input type="text" nz-input formControlName="imageUrl" placeholder="Enter ImageUrl" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Genre</nz-form-label>
        <nz-form-control nzErrorTip="Genre is required">
          <input type="text" nz-input formControlName="genre" placeholder="Enter genre" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired> Description </nz-form-label>
        <nz-form-control nzErrorTip="Description must be between 20 and 1000 characters">
          <textarea
            nz-input
            formControlName="description"
            rows="4"
            placeholder="Enter Description"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <div class="form-actions">
        <button nz-button nzType="primary" type="submit">
          {{ book() ? 'Update Book' : 'Create Book' }}
        </button>
      </div>
    </form>
  </ng-container>
</nz-modal>
