<nz-header class="nav">
  <a routerLink="/home" class="logo">Aka-Library</a>
  <ul nz-menu nzTheme="dark" nzModule="horizontal">
    <li nz-menu-item nzSelected>
      <a routerLink="/home"><nz-icon nzType="home" nzTheme="outline" />Home</a>
    </li>
    <li nz-menu-item>
      <a routerLink="/my-books"> <nz-icon nzType="book" nzTheme="outline" />My-books </a>
    </li>
    <li nz-menu-item>
      <a routerLink="/login"><nz-icon nzType="login" nzTheme="outline" />Login</a>
    </li>
  </ul>
</nz-header>
